/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/*STILE*/

/*HEADER*/


* {
    text-decoration: none;
}

body {
    min-height: 100%;
}

header {
    background-color: #fff;
    width: 100%;
    height: 100px;
}

header .header-brand {
    font-family: Catamaran;
    font-size: 24px;
    color: #111;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header nav ul {
    margin: 0 auto;
    display: block;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0 16px;
}

header nav ul li a {
    font-family: Catamaran;
    font-size: 16px;
    color: #111;
    text-transform: uppercase;
}

header .header-ordina {
    display: none;
}

@media only screen and (min-width: 1000px) {
    header .header-brand {
        text-align: left;
        line-height: 38px;
        margin: 31px 0;
        padding: 0 20px 0 40px;
        border-right: 3px solid #111;
        float: left;
        font-size: 24px;
    }

    header nav ul {
        margin: 20px 0px 0px 20px;
        float: left;
    }

    header nav ul li a {
        line-height: 60px;
    }

    header .header-ordina {
        display: block;
        font-family: Catamaran;
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #111;
        float: right;
        margin-right: 40px;
        padding: 0 20px;
        margin-top: 30px;
    }

}

/*INDEX*/

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*position: relative;*/
    display: table;
}

.vertical-center {

    display: table-cell;
    vertical-align: middle;
}


/*.white-box{
    background-color:transparent;
    width: 100%;
    height: 100px;
    position: absolute;
    margin-top: 467px;
}*/

.index-banner h2 {
    font-family: Catamaran;
    font-size: 50px;
    color: #fff;
    text-align: right;
    font-weight: 900;
    text-shadow: 2px 2px 8px #111;
    line-height: 70px;
    margin: 0 10px 0px 0;
}

.index-banner h1 {
    font-family: 'Raleway';
    font-size: 20px;
    color: #fff;
    text-align: right;
    font-weight: 100;
    text-shadow: 2px 2px 8px #111;
    line-height: 30px;
    margin: 0 10px 30px 0;

}

.index-box-section .index-box-square1,
.index-box-section .index-box-square2 {
    margin: 8px 10px 0;
    width: calc(100% - 20px);
    height: 470px;
    background-color: #f3f3f3;
    border-radius: 4px;
}

.index-box-section div h2 {
    font-family: Catamaran;
    font-size: 28px;
    color: #111;
    text-align: right;
    font-weight: 400;
    line-height: 40px;
    margin-right: 5px;

}

.index-box-section .index-box-square2 h2,
.index-box-section .index-box-square2 p {
    text-align: left;
    margin-left: 5px;
    margin-right: 0px !important;

}

.index-box-section div p {
    font-family: 'Raleway';
    font-size: 15px;
    color: #111;
    text-align: right;
    font-weight: 400;
    line-height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;

}

.index-box-square-image1 {
    background-image: url(../images/ingre.webp);
    height: 18.8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px 10px 0 10px;
}

.index-box-square-image2 {
    background-image: url(../images/flour-banner.png);
    height: 18.8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px 10px 0 10px;
}

@media only screen and (min-width: 350px) {


    .index-box-section .index-box-square1,
    .index-box-section .index-box-square2 {
        margin: 8px 10px 0 10px;
        height: 470px;

    }

    .index-banner h1 {
        margin: 0 10px 130px 0;

    }
}

@media only screen and (min-width: 1000px) {
    .index-banner {
        width: 100%;
        height: 750px;
        background-image: url(../images/banner3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;
    }

    .index-banner h2 {
        display: block;
        width: 600px;
        margin: 0 auto;
        text-align: center;
        font-size: 90px;

    }

    .index-banner h1 {
        display: block;
        width: 600px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 400px;
        font-size: 35px;

    }


    .index-box-section .index-box-square1,
    .index-box-section .index-box-square2 {
        margin: 10px 10px 0;
        width: 100% !important;
        height: 470px;
        background-color: white;
        border-radius: 4px;
    }

    .wrapperborder {
        width: 1000px;
        margin: 0 auto;
    }



    .text-align1 {
        width: 50%;
        float: left;
    }

    .index-box-square-image1 {
        margin-left: 50%;
        height: 100%;
    }

    .index-box-square1 h2 {
        text-align: left !important;
        width: 80%;
        font-size: 48px !important;
        margin-left: 10% !important;
        margin-top: 30px;

    }

    .index-box-square1 p {
        width: 80%;
        text-align: left !important;
        font-size: 28px !important;
        line-height: 34px !important;
        margin-top: 30px;
        margin-left: 10% !important;
    }

    .index-box-square2 {

        margin-top: 100px !important;
    }

    .text-align2 {
        width: 50%;
        float: right;
    }

    .index-box-square-image2 {
        float: left;
        width: 50%;
        margin: 0 !important;
        height: 100%;
    }

    .index-box-square2 h2 {
        text-align: left !important;
        width: 80%;
        font-size: 48px !important;
        margin-left: 10% !important;
        margin-top: 30px;

    }

    .index-box-square2 p {
        width: 80%;
        text-align: left !important;
        font-size: 28px !important;
        line-height: 34px !important;
        margin-top: 30px;
        margin-left: 10% !important;
    }

    .index-box-section {
        margin-top: 100px !important;
    }
}


/*FOOTER*/

.orari-footer {
    display: none;
}

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 55px;
    background-color: #111;
    overflow: hidden;
    margin-bottom: 0;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 0px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    font-family: Catamaran;
    font-size: 22px;
    color: #fff;
    line-height: 55px;
    font-weight: 300;
}

footer p {
    font-family: Catamaran;
    font-size: 16px;
    color: #fff;
    width: 100%;
    margin-top: 190px;
    font-weight: 100;
    text-align: center;
}

.footer-sm {
    width: 40px;
    float: right;
    line-height: 26px;
    margin-top: 8px;
}

.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
}

@media only screen and (min-width: 1000px) {
    footer {
        margin-top: 100px;
    }

    .orari-footer {
        display: initial;
        float: left;
        width: 30em !important;
        margin-left: 200px;
        height: 100px !important;
    }

    .orari-footer a {
        font-family: Catamaran;
        font-size: 20px !important;
        font-weight: 300 !important;
        color: #fff;
        line-height: 35px;
    }

    .orari-footer li {
        list-style: none;
    }
}

/*LE PIZZE*/

.listino-banner {
    width: 100%;
    height: 500px;
    background-image: url(../images/farcita.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*position: relative;*/
    display: table;
}

.listino-banner h2 {
    font-family: Catamaran;
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 8px #111;
    margin-bottom: 50px;
    text-transform: uppercase;
}


.vertical-center {

    display: table-cell;
    vertical-align: bottom;
}

.listino-middle {
    width: calc(100% - 20px);
    margin: 10px 20px 30px 10px;
}

.listino-middle h1 {
    width: 100%;
    font-family: 'Raleway';
    font-size: 18px;
    color: #111;
    text-align: center;
    font-weight: 200;
    line-height: 20px;
    margin: 30px 0 30px 0;
}

.download-button {
    display: block;
    border: 1px solid #111;
    font-family: Catamaran;
    font-size: 20px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 5px;
    width: calc(80% - 50px);
    margin: 10px auto 10px;
}

.download-button:hover {
    color: #424242;
}

.prenota-button {
    display: block;
    border: 1px solid #111;
    font-family: Catamaran;
    font-size: 20px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 5px;
    width: calc(80% - 100px);
    margin: 10px auto 10px;
}

.index-box-square-image1-listino {
    display: none;
    background-image: url(../images/listino.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px 10px 0 10px;
}

.index-box-square-image2-listino {
    display: none;
    background-image: url(../images/flour-banner.png);
}


.index-box-section .index-box-square1-listino,
.index-box-section .index-box-square2-listino {
    margin: 8px 10px 0;
    width: calc(100% - 20px);
    height: 200px;
    border-radius: 4px;
}


.index-box-square2-listino h2,
.index-box-square1-listino h2 {
    text-align: center !important;
    width: 80%;
    font-size: 24px !important;
    margin-left: 10% !important;
    margin-top: 50px;
    line-height: 30px !important;
    margin-bottom: 30px;
    font-weight: 300 !important;
}

@media only screen and (min-width: 1000px) {
    .listino-banner h2 {
        display: block;
        width: 600px;
        margin: 200px auto;
        text-align: center;
        font-size: 90px;
    }

    .listino-banner {
        height: 750px !important;
    }

    .text-align2 {
        width: 50%;
        float: right;
    }

    .index-box-square-image2-listino {
        background-image: url(../images/delivery.jpg);
        display: initial;
        float: left;
        width: 50%;
        margin: 0 !important;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0px 10px 0 10px;
    }

    .text-align1 {
        width: 50%;
        float: left;
    }

    .index-box-square-image1-listino {
        margin-left: 50%;
        height: 100%;
    }

    .index-box-section .index-box-square2-listino {
        height: 450px !important;
    }

    .index-box-section .index-box-square1-listino {
        height: 450px !important;
    }

    .index-box-section .index-box-square1-listino h2 {
        margin-top: 120px;
        font-size: 30px !important;
        line-height: 40px !important;
    }

    .index-box-section .index-box-square2-listino h2 {
        margin-top: 120px;
        font-size: 30px !important;
        line-height: 40px !important;
    }

    .index-box-square-image1-listino {
        display: block;
    }

    .download-button {
        display: block;
        border: 1px solid #111;
        font-family: Catamaran;
        font-size: 24px;
        font-weight: 900;
        color: #111;
        text-transform: uppercase;
        text-align: center;
        padding: 15px 15px;
        width: calc(80% - 50px);
        margin: 10px auto 10px;
    }

    .prenota-button {
        display: block;
        border: 1px solid #111;
        font-family: Catamaran;
        font-size: 24px;
        font-weight: 900;
        color: #111;
        text-transform: uppercase;
        text-align: center;
        padding: 15px 15px;
        width: calc(80% - 100px);
        margin: 10px auto 10px;
    }
}

/*CONTATTI*/

.img-mappa {
    width: 100%;
}

.contatti-box-posizione {
    background-color: #f3f3f3;
    width: calc(100%-16px);
    margin: 10px 8px;
    padding: 10px;
}

.contatti-box-posizione h2 {
    font-family: Catamaran;
    font-size: 26px;
    color: #111;
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.contatti-box-posizione p {
    font-family: Raleway;
    font-size: 16px;
    color: #111;
    text-align: center;
    font-weight: 800;
    line-height: 24px;

}

.contatti-box-posizione h3 {
    font-family: Catamaran;
    font-size: 26px;
    color: #111;
    text-align: center;
    font-weight: 800;
    padding-top: 10px;
    text-transform: uppercase;
}

.pw-box {
    background-color: #f3f3f3;
    width: calc(100%-16px);
    margin: 10px 8px;
    padding: 10px;
}

.pw-box h3 {
    font-family: Catamaran;
    font-size: 24px;
    color: #111;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.pw-box h4 {
    font-family: Catamaran;
    font-size: 20px;
    color: #111;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 25px;
}

.pw-box img {
    width: 60px;
}

.image-container {
    text-align: center;
    margin: 10px;
}

.image-container1 {
    text-align: center;
    margin: 10px;
}

.google-maps {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .img-mappa {
        display: none;
    }

    .google-maps {
        display: initial;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
    }

    .google-maps-4x3 {
        padding-top: 75%;
    }

    iframe {
        border: 0;
        height: 450px;
        left: 0;
        top: 0;
        width: 100%;
    }

    .contatti-box-posizione {
        height: 520px;
        background-color: white;
    }

    .contatti-box-posizione h2 {
        font-family: Catamaran;
        font-size: 36px;
        font-weight: 900;
    }

    .contatti-box-posizione p {
        margin-top: 30px;
        line-height: 30px;
        font-size: 20px;
    }

    .pw-box {
        background-color: white;
        margin-top: 140px;
    }

    .pw-box h3 {
        font-family: Catamaran;
        font-size: 32px;
        font-weight: 600;
    }

    #pw-box-position {
        display: none !important;
    }
}

/*ABOUT*/

.about-box {
    background-color: #f3f3f3;
    width: calc(100%-16px);
    margin: 10px 8px;
    padding: 10px;
    margin-top: 30px;
}

.about-box P {
    font-family: Raleway;
    font-size: 16px;
    color: #111;
    text-align: center;
    font-weight: 800;
    line-height: 24px;
}

.about-box h2 {
    font-family: Catamaran;
    font-size: 24px;
    color: #111;
    text-align: center;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.about-banner {
    width: 100%;
    height: 500px;
    background-image: url(../images/personale.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*position: relative;*/
    display: table;
}

.about-banner h2 {
    font-family: Catamaran;
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px 8px #111;
    margin-bottom: 50px;
    text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
    .about-banner {
        height: 750px !important;
    }

    .about-banner h2 {
        display: block;
        width: 600px;
        text-align: center;
        font-size: 90px;
        margin: 0 auto;
    }

    .about-box {
        background-color: white;
    }

    .about-box p {
        margin-top: 50px;
        font-size: 22px;
        line-height: 40px;

    }
}



/*PRENOTA*/

.prenota-form-section {
    margin: 8px 10px 0;
    width: calc(100% - 30px);
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 5px;
}

.prenota-form-section h4 {
    font-family: Catamaran;
    font-size: 16px;
    color: #111;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 5px;
}

.prenota-form-section h3 {
    font-family: Catamaran;
    font-size: 16px;
    color: #111;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 5px;
}


#select-pizze {
    width: calc(100% - 150px);
    margin-left: 75px;
    font-family: Raleway;
    font-size: 15px;
    color: #111;
    margin-bottom: 10px;
    border-radius: 5px;

}

#select-orario {
    width: calc(100% - 150px);
    margin-left: 75px;
    font-family: Raleway;
    font-size: 15px;
    color: #111;
    margin-bottom: 10px;
    border-radius: 5px;
}

#select-qt {
    width: calc(100% - 270px);
    margin-left: 135px;
    font-family: Raleway;
    font-size: 15px;
    color: #111;
    margin-bottom: 10px;
    border-radius: 5px;
}

form {
    width: calc(100% -30px);
    margin: 15px;
}

form label {
    display: block;
    font-family: Raleway;
    font-size: 15px;
    color: #111;
    text-align: center;
}

form input {
    width: calc(100% - 100px);
    padding: 5px;
    margin: 0px 45px 10px 45px;
}

.submit-button {
    width: calc(100% - 180px);
    padding: 5px;
    margin-left: 90px;
    margin-top: 20px;
    font-family: Catamaran;
    font-size: 16px;
    color: #111;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    background-color: white;
    border: 1px solid #111;

}

.prenota-img {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .prenota-img {
        display: initial;
        width: 50%;
        float: right;
        border-radius: 10px;
        margin-top: 130px;
    }

    .prenota-form-section {
        height: auto;
        width: calc(50% - 30px) !important;
        float: left;
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: white;
    }
}